<div>
    <div class="card mt-2" style="margin-left: {{ depth|default:'0' }}px;">
        <div class="card-body comment-container {% if comment.is_deleted %}deleted-comment{% endif %}">
            <p>{{ comment.content }}</p>

            {% if comment.author == request.user %}
                <form id="delete-comment-form-{{ comment.id }}" action="{% url 'comment_delete' comment.id %}"
                      method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <!-- Use an onclick event to call the confirmDeleteComment function with the comment's ID -->
                    <button type="button" onclick="confirmDeleteComment({{ comment.id }})" class="delete-button"
                            title="Delete comment">x
                    </button>
                </form>
            {% endif %}

            <div class="d-flex align-items-center">
                <!-- Like form -->
                <form action="{% url 'comment_reaction' comment.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="reaction_type" value="like">
                    <button type="submit" class="btn btn-sm btn-outline-primary me-2">
                        <i class="bi bi-thumbs-up"></i> {{ comment.likes_count }} likes
                    </button>
                </form>

                <!-- Dislike form -->
                <form action="{% url 'comment_reaction' comment.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="reaction_type" value="dislike">
                    <button type="submit" class="btn btn-sm btn-outline-danger me-4">
                        <i class="bi bi-thumbs-down"></i> {{ comment.dislikes_count }} dislikes
                    </button>
                </form>

                <small class="text-muted">{{ comment.author }} · {{ comment.timestamp|timesince }} ago
                    · {{ comment.timestamp }}</small>
                <button type="button" onclick="setReplyTo('{{ comment.id }}', '{{ comment.content|escapejs }}');"
                        class="btn btn-sm btn-outline-secondary m-auto">Reply
                </button>

            </div>
        </div>
    </div>

    <!-- Recursive inclusion for nested comments -->
    {% with replies=comment.comment_set.all new_depth=depth|add:'20' %}
        {% for reply in replies %}
            {% include 'posts/comment_detail.html' with comment=reply depth=new_depth %}
        {% endfor %}
    {% endwith %}
</div>
