{% extends 'base.html' %}
{% block page_content %}
    <h2 class="mb-4">Edit Post</h2>
    <form method="post">
        {% csrf_token %}
        <!-- Form Fields -->
        {% for field in form %}
            <div class="form-group mb-3{% if field.errors %} has-error{% endif %}">
                {{ field.label_tag }}

                <!-- Check if current field is category -->
                {% if field.name == 'category' %}
                    <div class="d-flex align-items-center">
                        {{ field }}
                        <a href="{% url 'create_category' %}?next={{ request.path }}" class="btn btn-secondary ml-3">Create
                            a new category</a>
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}

                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="alert alert-danger mt-2" role="alert">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}

        <!-- Read-only Author Field -->
        <div class="form-group mb-3">
            <label for="author">Author:</label>
            <input type="text" id="author" class="form-control" value="{{ request.user }}" readonly>
            <small class="form-text text-muted">This field is autofilled and read-only.</small>
        </div>

        <!-- Action Buttons -->
        <button type="submit" class="btn btn-success">Update</button>
        <a href="{% url 'view_post' post.id %}" class="btn btn-danger">Cancel</a>

    </form>
{% endblock %}
