{% extends 'base.html' %}

{% block extra_head %}
    <!-- Include CKEditor Javascript and CSS -->
    {{ form.media }}
    <style>
        .django-ckeditor-widget {
            width: 100%; /* Make CKEditor take up 100% width of its parent */
        }
    </style>
{% endblock %}

{% block page_content %}
    <h2 class="mb-4">Edit Post</h2>
    <form method="post">
        {% csrf_token %}
        <!-- Form Fields -->
        {% for field in form %}
            <div class="form-group mb-3{% if field.errors %} has-error{% endif %}">
                {{ field.label_tag }}

                <!-- Check if current field is category -->
                {% if field.name == 'category' %}
                    <div class="d-flex align-items-center">
                        {{ field }}
                        <a href="{% url 'category_create' %}?next={{ request.path }}" class="btn btn-secondary ml-3">Create
                            a new category</a>
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}

                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="alert alert-danger mt-2" role="alert">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}

        <!-- Read-only Author Field -->
        <div class="form-group mb-3">
            <label for="author">Author:</label>
            <input type="text" id="author" class="form-control" value="{{ request.user }}" readonly>
            <small class="form-text text-muted">This field is autofilled and read-only.</small>
        </div>

        <!-- Action Buttons -->
        <button type="submit" class="btn btn-success">Update</button>
        <a href="{% url 'post_detail' post.id %}" class="btn btn-danger">Cancel</a>

    </form>

    <script>
        // JavaScript to toggle fields based on user selection
        document.addEventListener('DOMContentLoaded', function () {
            let isPublishedCheckbox = document.getElementById('id_is_published');
            let dateScheduledInput = document.getElementById('id_date_scheduled');

            isPublishedCheckbox.addEventListener('change', function () {
                if (this.checked) {
                    dateScheduledInput.value = '';
                    dateScheduledInput.disabled = true;
                } else {
                    dateScheduledInput.disabled = false;
                }
            });

            dateScheduledInput.addEventListener('change', function () {
                if (this.value) {
                    isPublishedCheckbox.checked = false;
                }
            });
        });
    </script>
{% endblock %}
