{% extends 'base.html' %}

{% block page_content %}
    {% if messages %}
        <div class="mt-4">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="d-flex justify-content-between align-items-center mt-4">
        <a href="{% url 'listing' %}" class="btn btn-primary">All Posts</a>
        {% if request.user == post.author %}
            <div>
                <a href="{% url 'edit_post' post.id %}" class="btn btn-warning">Edit Post</a>
                <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete Post</a>
            </div>
        {% endif %}
    </div>

    <div class="card border-0 shadow my-4">
        <div class="card-body">
            <h1 class="card-title">{{ post.title }}</h1>
            <p class="card-subtitle mb-2 text-muted">
                Created: {{ post.date_published }} |
                Last Edited: {{ post.date_edited }} |
                Views: {{ post.views }} |
                Author: {{ post.author.first_name }} {{ post.author.last_name }}
            </p>
            <hr class="my-4"/>
            <div class="card-text mb-4">
                {{ post.content|safe }}
            </div>
            <hr class="my-4"/>
            <p>Category: {{ post.category.title }}</p>
        </div>
    </div>
    {% include 'posts/view_comment.html' %}
{% endblock %}
